<div id="banner">
    <img src="@Url.Content("~/Content/images/banner.jpg")" alt="@LocalText.Inst.Get("text", "bannerLozung", "Ми допомагаємо економити час", "Мы помогаем экономить время")">
    <div class="text">
         @LocalText.Inst.Get("text", "bannerLozung", "Ми допомагаємо економити час", "Мы помогаем экономить время")
    </div>
</div>
