@{
    ViewBag.Title = LocalText.Inst.Get("error", "Unauthorized","Доступ заборонено","Доступ закрыт");
}

@*<h2>@LocalText.Inst.Get("error", "Unauthorized","Доступ заборонено","Доступ закрыт");@User.Identity.
    ()??@LocalText.Inst.Get("error", "Unauthorized","Доступ заборонено","Доступ закрыт"); @LocalText.Inst.Get("error", "Unauthorized", "Доступ заборонено", "Доступ закрыт");</h2>*@
<h3>@LocalText.Inst.Get("error", "UnauthorizedMessage", "Вибачте, перегляд цієї сторінки заборонено, мабуть, у вас поки що немає на це прав", "Извините, просмотр это страницы пока запрещен, наверное, у Вас пока нет прав");</h3>

