<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NumberToSendMessage" value="+380504134382" />
    <add key="NumberToAuthenticate" value="+380504134382" />
    <add key="CodeToAuthenticate" value="" />
    <add key="PasswordToAuthenticate" value="" />
    <add key="NotRegisteredNumberToSignUp" value="" />
    <add key="UserNameToSendMessage" value="msg_kurt" />
    <add key="NumberToGetUserFull" value="+380504134382" />
    <add key="NumberToAddToChat" value="+380504134382" />
    <add key="ApiHash" value="b380447413408642fd5cc3d45bbea13f" />
    <add key="ApiId" value="72413" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.1.0" newVersion="9.0.1.0" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>