
@{
    ViewBag.Title = LocalText.Inst.Get("label", "topmenu_contacts", "Наші контакти", "Наши контакты");
}

<div id="our-contacts">
    <div class="create-auction title">
        <h3>@ViewBag.Title</h3>
        <hr />
    </div>
    <div>
        <div><span>Наш адрес</span>: @LocalText.Inst.Get("text", "contacts_address", "Україна, м.Київ, вул.Лінійна 17", "Украина, г.Киев, ул.Линейная 17")</div>
        <div><span>Тел</span>: +380(44)354-33-46</div>
        <div><span>Email</span>: info@ptp.ua</div>
    </div>
</div>




