@{
    ViewBag.Title = "Смена пароля";
}
<h3>Смена пароля</h3>
<form id="amnezia" method="POST">
    <div class="row form-group">
        <div class="col-lg-5">
            <input name="email" type="email" class="form-control auction-value">
        </div>
        <label class="col-lg-5">Введите e-mail регистрации</label>
    </div>
    <input type="hidden" name="lang" class="action_filters" value="ru">
    <input type="hidden" name="action" class="auction-value" value="users/resetPassword">
    <input type="submit" data-form="amnezia" value="Напомнить">
</form>

