@{
    ViewBag.Title = "RegisterThanks";
}
<p>Благодарим Вас за регистрацию на нашей электронной торговой площадке.</p>

<p>Через некоторое время Вам на электронный почтовый ящик, который Вы указали при регистрации, придет письмо, с помощью которого вы сможете активировать аккаунт.</p>

<p>Чтобы участвовать в торгах, Вам нужно будет зарегистрировать юридическое лицо.</p>

<p>О том, как изменить пароль, зарегистрировать юридическое лицо и как проходят торги, Вы можете прочитать в разделе <a href="/home/rules">«Правила и инструкции»</a>.</p>