@{
    ViewBag.Title = @LocalText.Inst.Get("title", "accountActivedTitle", "Ок", "Ок");
}

<div>
    <p>
        @Html.Raw(@LocalText.Inst.Get("text","accountActivedText", "Дякуємо за реєстрація. Для участі в торгах увійдіть до кабінету та зареєструйте юридичну особу.", "Благодарим за регистрацию. Для участия в торгах войдите в личный кабинет и создайте юридическое лицо. ")) 
    </p>
</div>
