@{
    ViewBag.Title = LocalText.Inst.Get("title", "resetPassConfirm", "Зміна паролю", "Сброс пароля");
}
@*<div class="create-auction">
    <a class="ref" href="#hint" onclick="OpenHelpDialog('resetpassConfirm')">?</a>
    <h3>@ViewBag.Title</h3>
    <hr />
</div>*@

<div>
    <p>
       @LocalText.Inst.Get("title", "resetPassConfirmText", "Ми вислали Вам листа для зміни пароля", "Мы выслали Вам письмо для сброса пароля")
    </p>
</div>
	
