@{
    ViewBag.Title = LocalText.Inst.Get("title", "resetPassConfirmView", "Пароль відновлено", "Пароль обновлен");
}
<div class="create-auction title">
    <a class="ref" href="#hint" onclick="OpenHelpDialog('resetpassconfirm')">?</a>
    <h3>@ViewBag.Title</h3>
    <hr />
</div>
<div>
    <p>
        @Html.ActionLink(LocalText.Inst.Get("link", "resetPassFullLink", "Ваш пароль оновлено, натисніть тут для входу", "Ваш пароль обновлен, нажмите здесь для входa "), "Login", "Account")
    </p>
</div>
