@model TradingPlatform.Models.NotifyModels.ForgotPassword
@{
    ViewBag.UserName = Model.UserName;
    ViewBag.Lang = Model.Lang;
    Layout = "~/Views/Email/_LayoutMail.cshtml";
}
<!-- Button : Begin -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
    <caption>@LocalText.Inst.Get("email", "EmailTemplate.ForgotPassword", "Забули пароль?", "Забыли пароль?", Model.Lang)</caption>
    <tr>
        <br/>
    </tr>
    <tr>
        <td>
            @LocalText.Inst.Get("email", "EmailTemplate.ForgotPassword.ClickButton", "Відновіть його кліком по кнопці:", "Восстановите его кликом по кнопке:", Model.Lang)
            <br />
        </td>
    </tr>
    <tr>
        <td>
            @*<a href="@Model.Link" style="background: #222222; min-width: 15px; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                    <span style="color: #ffffff;" class="button-link">&nbsp;&nbsp;&nbsp;&nbsp; Кнопка &nbsp;&nbsp;&nbsp;&nbsp;</span>
                </a>*@
            <a class="btn" href="@Model.Link">Кнопка</a>
        </td>
    </tr>
</table>
<!-- Button : END -->
<style>
    .btn {
        padding: 15px 34px;
        color: #fff;
        background-color: #012e40;
        font-size: .8571428571428571em;
        font-weight: bold;
        font-family: Tahoma,Arial,sans-serif;
        text-transform: uppercase;
        border: #012e40;
        border-radius: 10px;
        width: 100%;
    }
</style>
