@model TradingPlatform.Models.NotifyModels.ResetPasswordMail
@{
    ViewBag.UserName = Model.UserName;
    ViewBag.Lang = Model.Lang;
    Layout = "~/Views/Email/_LayoutMail.cshtml";
}

<div>

    <p>
        @LocalText.Inst.Get("email", "resetPasswordGo", "Для відновлення паролю перейдіть", "Для восстановления пароля перейдите", Model.Lang) по 
        <a href="@Model.Link">@LocalText.Inst.Get("text", "EmailTemplate.ThisLink", "цьому посиланню", "этой ссылке", Model.Lang)</a>.
    </p>
</div>

