@model TradingPlatform.Models.BillModel
<!DOCTYPE HTML>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8">
        <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    </head>
    <body>
        <p style="text-align: center;"><strong>Договір про надання послуг щодо користування</strong></p>
        <p style="text-align: center;"><strong>Електронним Торговим Майданчиком "Petroleum Trading Platform"</strong></p>
        <p style="text-align: center;"><strong>№ @Model.ShowModel.Contract/PTP</strong></p>
        <p style="text-align: justify;"> </p>
        <p style="text-align: justify;">м. Київ                                                                                                                                                    {date}</p>
        <p style="text-align: justify;"> </p>
        <p style="text-align: justify;">      Ми, що нижче підписалися, {confidantPosition} {customerName} {confidantName}, який (яка) діє на підставі {confaidantDocument} (надалі іменується «Клієнт»), з одного боку, і Директор ТОВ «БФ ЦЕРТУС» Крашеніннікова Ірина Олегівна, яка діє на підставі Статуту (надалі іменується «Оператор РТР»), з іншого боку, разом іменовані «Сторони», а кожна окремо – «Сторона», уклали цей Договір (далі – «Договір») про наступне:</p>
        <h5 style="text-align: center;"><strong>1. ПРЕДМЕТ ДОГОВОРУ</strong></h5>
        <p style="text-align: justify;"><strong>1.1.</strong>      Оператор РТР зобов'язується надати Клієнтові послуги щодо користування Електронним Торговим Майданчиком "Petroleum Trading Platform" (далі – «Електронний Торговий Майданчик» або «РТР») з метою забезпечення можливості Клієнта купувати та продавати нафтопродукти на РТР, а Клієнт зобов'язується прийняти зазначені послуги (далі – «Послуги») та оплатити їх на умовах визначених цим Договором.</p>
        <p style="text-align: justify;"><strong>1.2.</strong>      З моменту підписання цього Договору Клієнт наділяється усіма правами та обов'язками Аккредитованного Користувача, передбаченими Договором оферти. Клієнт може використовувати РТР як «Покупець», так і як «Продавець» за умови дотримання умов Договору оферти та цього Договору.</p>
        <p style="text-align: justify;"><strong>1.3.</strong>      Цей Договір укладений з урахуванням положень Договору оферти та використанням його термінології. Під Договором оферти розуміється публічний договір, що був укладений Зареєстрованим Користувачем, шляхом акцептування пропозиції при реєстрації на сайті РТР.</p>
        <h5 style="text-align: center;"><strong>2. ПОРЯДОК ЗДАЧІ-ПРИЙМАННЯ ПОСЛУГ</strong></h5>
        <p style="text-align: justify;"><strong>2.1.</strong>      Здача-приймання Послуг оформлюється Актом здачі-приймання Послуг, проект якого складається та направляється Оператором РТР Клієнтові протягом трьох робочих днів, після закінчення місяця фактичного отримання Послуг.</p>
        <p style="text-align: justify;">В даному Акті Оператор РТР перелічує всі послуги надані/отримані за звітний  календарний місяць.</p>
        <p style="text-align: justify;"><strong>2.2.</strong>      Клієнт зобов'язаний підписати Акт здачі-приймання Послуг. Підписаний та скріплений печаткою Акт здачі-приймання Послуг має бути надісланий на поштову адресу Оператора РТР не пізніше 5 (п’яти)  робочих днів від дня отримання Акту Клієнтом.</p>
        <p style="text-align: justify;"><strong>2.3.</strong>      У разі, якщо протягом 5 (п’яти) робочих днів Клієнт не підписує, направлений йому Оператором РТР проект Акту здачі-приймання Послуг, Акт вважається підписаним з боку Клієнта, а послуги такими, що надані належним чином та у строк.</p>
        <h5 style="text-align: center;"><strong style="text-align: center;">3. ТАРИФИ ТА ПОРЯДОК ОПЛАТИ ПОСЛУГ</strong></h5>
        <p style="text-align: justify;"><strong>3.1.</strong>      Тарифи за надання Послуг за користування Електронним Торговим Майданчиком узгоджуються Сторонами в додаткових угодах до цього Договору.</p>
        <p style="text-align: justify;"><strong>3.2.</strong>      Оплата Послуг, наданих Оператором РТР, здійснюється Клієнтом протягом трьох робочих днів з дня виставлення Рахунку на оплату послуг.</p>
        <p style="text-align: justify;"><strong>3.3.</strong>      Оплата Послуг Оператора РТР здійснюється Клієнтом у безготівковій формі в гривнях  на поточний рахунок Оператора РТР зазначений в цьому Договорі або інший поточний рахунок Оператора РТР, інформацію про який буде розміщено на РТР або шляхом надіслання Клієнтові електронної пошти або надіслання відповідної інформації на паперових носіях.</p>
        <h5 style="text-align: center;"><strong style="text-align: center;">4. ПРАВА ТА ОБОВ’ЯЗКИ СТОРІН</strong></h5>
        <p style="text-align: justify;"><strong>4.1.      Клієнт має право на:</strong></p>
        <p style="text-align: justify;"><strong>4.1.1.</strong>   Своєчасне і якісне отримання доступу до РТР.</p>
        <p style="text-align: justify;"><strong>4.1.2.</strong>   Отримання від Оператора РТР вичерпної інформації про зміст та порядок розкриття інформації на РТР.</p>
        <p style="text-align: justify;"><strong>4.1.3.</strong>   Безоплатне вилучення своїх персональних даних повністю або частково з РТР, або внесення змін до таких даних, а також користуватися іншими правами, наданими Законом України «Про захист персональних даних».</p>
        <p style="text-align: justify;"><strong>4.1.4.</strong>   Одностороннє розірвання цього Договору в будь-який момент, про що він повідомляє Оператора РТР, шляхом надсилання на адресу електронної пошти  Оператора РТР відповідного листа, з одночасним відправленням додаткової угоди про припинення дії Договору на поштову адресу Оператора РТР.</p>
        <p style="text-align: justify;"><strong>4.2.      Клієнт зобов’язаний:</strong></p>
        <p style="text-align: justify;"><strong>4.2.1.</strong>   Своєчасно оплачувати послуги Оператора РТР.</p>
        <p style="text-align: justify;"><strong>4.2.2.</strong>   Виконувати умови Договору та дотримуватись вимог чинного законодавства України.</p>
        <p style="text-align: justify;"><strong>4.2.3.</strong>   Зберігати індивідуальні ідентифікатори свого Зареєстрованого Користувача: Електронна пошта Зареєстрованого Користувача та пароль, що дають можливість ідентифікувати Зареєстрованого Користувача, в таємниці та не розголошувати їх третім особам.</p>
        <p style="text-align: justify;"><strong>4.2.4.</strong>   Негайно, але не пізніше 24-годин після виявлення обставин, які свідчать про можливе розкриття індивідуальних ідентифікаторів, повідомити про це Оператора РТР, шляхом надіслання повідомлення на адресу електронної пошти <a href="mailto:info@ptp.ua">info@ptp.ua</a> з адреси електронної пошти, що становить його індивідуальний ідентифікатор.</p>
        <p style="text-align: justify;"><strong>4.2.5.</strong>   У разі розкриття або у інший спосіб використання інформації, що міститься на РТР, обов'язково посилатися на назву РТР та Адресу мережі Інтернет для РТР;</p>
        <p style="text-align: justify;"><strong>4.2.6.</strong>   Своєчасно (не пізніше 1 робочого дня) вносити зміни в інформацію, направлену при Акредитації на РТР, включаючи інформацію про свої реквізити, а також, своєчасно надавати Оператору РТР Актуальні копії документів, які підтверджують внесені зміни;</p>
        <p style="text-align: justify;"><strong>4.2.7.</strong>   Відповідати наступним вимогам:</p>
        <ul style="text-align: justify;">
            <li>володіти необхідними сертифікатами на нафтопродукти відповідно до чинного законодавства України, у разі якщо Клієнт має статус «Продавця»;</li>
            <li>не знаходитися в процесі ліквідації або не перебувати в процедурі банкрутства відповідно до Закону України «Про відновлення платоспроможності боржника або визнання його банкрутом»;</li>
            <li>не бути суб'єктом господарювання, на майно якого накладено арешт за рішенням суду, органу виконавчої влади та/або бути суб'єктом господарювання економічна діяльність, якого призупинено;</li>
            <li>на запит Оператора РТР надавати довідку про відсутність заборгованості за нарахованими податками, зборами та іншими обов'язковими платежами;</li>
            <li>іншим обов'язковим вимогам, встановленим чинним законодавством України.</li>
        </ul>
        <p style="text-align: justify;"><strong>4.2.</strong><strong>8</strong><strong>.</strong>   Чітко дотримуватися вимог  Договору та Договору оферти,  які пов'язані з проведенням торгів на РТР, в тому числі своєчасно надавати Оператору РТР необхідну достовірну інформацію;</p>
        <p style="text-align: justify;"><strong>4.2.</strong><strong>9</strong><strong>.</strong>   Не здійснювати будь-які дії щодо:</p>
        <ul style="text-align: justify;">
            <li>несанкціонованого втручання в роботу РТР;</li>
            <li>спотворення процесу обробки інформації в РТР;</li>
            <li>порушення, встановленого РТР, порядку маршрутизації інформації в РТР;</li>
            <li>блокування у будь-який спосіб роботи РТР;</li>
            <li>використовування шкідливих програмних та технічних засобів, які можуть зашкодити роботі РТР;</li>
            <li>несанкціонованого використання або розповсюдження у будь-який спосіб конфіденційної інформації, в тому числі, але невиключно, персональних даних або даних, що становлять комерційну таємницю і містяться в РТР;</li>
            <li>перешкоджання роботі РТР у будь-який інший спосіб, в тому числі, шляхом розповсюдження масових повідомлень електрозв'язку.</li>
        </ul>
        <p style="text-align: justify;"><strong>4.2.1</strong><strong>0</strong><strong>.</strong> Виконувати інші зобов'язання, передбачені цим Договором, Договором оферти.</p>
        <p style="text-align: justify;"><strong>4.3.      Оператор РТР має право:</strong></p>
        <p style="text-align: justify;"><strong>4.3.1.</strong>   В односторонньому порядку змінювати налаштування, дизайн, графічні матеріали РТР.</p>
        <p style="text-align: justify;"><strong>4.3.2.</strong>   В односторонньому порядку розірвати цей Договір.</p>
        <p style="text-align: justify;"><strong>4.3.3.</strong>   Переривати роботу РТР у випадку проведення профілактичних робіт, про що повідомляються на РТР або шляхом направлення відповідного повідомлення на Електронну пошту Зареєстрованого Користувача.</p>
        <p style="text-align: justify;"><strong>4.3.4.</strong>   Використовувати інформацію про Клієнта (найменування, логотип, назва торгової марки) для розміщення на Відкритій частині РТР, а також застосовувати дану інформацію в рекламних матеріалах та презентаціях Оператора РТР.</p>
        <p style="text-align: justify;"><strong>4.4.      Оператор РТР зобов’язаний:</strong></p>
        <p style="text-align: justify;"><strong>4.4.1.</strong>   Підтримувати належну працездатність та он-лайн доступ до РТР.</p>
        <p style="text-align: justify;"><strong>4.4.2.</strong>   Забезпечувати надійний та безпечний обмін інформацією між РТР та Клієнтом.</p>
        <p style="text-align: justify;"><strong>4.4.3.</strong>   Забезпечувати конфіденційність персональних даних Клієнтів.</p>
        <p style="text-align: justify;"><strong>4.4.4.</strong>   Розміщувати на РТР актуальну контактну інформацію та можливі засоби зв‘язку з Оператором РТР.</p>
        <p style="text-align: justify;"><strong>4.4.5.</strong>   Забезпечувати технічну можливість участі у Торгах, а також рівний доступ Клієнтів до участі у Торгах, в тому числі до інформації про проведення Торгів, за умови дотримання ними умов Договору оферти, цього Договору  та за відсутності обставин непереборної сили (форс-мажорні обставини).</p>
        <h5 style="text-align: center;"><strong style="text-align: center;">5. ВІДПОВІДАЛЬНІСТЬ СТОРІН</strong></h5>
        <p style="text-align: justify;"><a name="_Toc342055344"></a><strong>5.1.</strong>      За невиконання або неналежне виконання зобов'язань за цим Договором Клієнт та Оператор РТР несуть відповідальність відповідно до чинного законодавства України.</p>
        <p style="text-align: justify;"><strong>5.2.</strong>      Оператор РТР не несе відповідальності за будь-які збитки, які понесли Зареєстровані Користувачі та/або їх юридичні особи з причини недотримання ними вимог цього Договору, Договору оферти, а також у таких випадках:</p>
        <ul style="text-align: justify;">
            <li>відсутність у Зареєстрованого Користувача техніки з необхідним набором програмно-технічних можливостей, що задовольняють вимоги для роботи на РТР;</li>
            <li>наявність програмно-технічних обмежень і налаштувань, які містилися у техніці, що не дозволило Зареєстрованому Користувачу повноцінно працювати на РТР;</li>
            <li>неможливість роботи з причини зараження комп'ютерної техніки вірусами;</li>
            <li>недоліки в роботі мережевих систем та обмеження, а також збоїв в роботі апаратно-технічного комплексу, що призвели до нерегламентованих і непередбачених тимчасових відключень від мережі Інтернет, і не дозволили повноцінно працювати на РТР;</li>
            <li>порушення Зареєстрованим Користувачем будь-яких норм цього Договору, Договору оферти.</li>
        </ul>
        <p style="text-align: justify;"><strong>5.3.</strong>      За порушення будь-яких норм цього Договору, Договору оферти Оператор РТР має право в будь-який час без попередження та пояснення причин зупинити або припинити участь роботи Клієнта на РТР, про що Клієнт повідомляється на зазначену ним  при реєстрації адресу електронної пошти.</p>
        <p style="text-align: justify;"><strong>5.4.</strong>      Оператор РТР має право формувати списки недобросовісних Клієнтів (Зареєстровані користувачі, які порушують умови цього Договору та Договору оферти) і розповсюджувати їх серед інших  Зареєстрованих Користувачів на РТР.</p>
        <p style="text-align: justify;"><strong>5.5.</strong>      Оператор РТР попереджає Клієнта, що у зв’язку зі специфікою роботи РТР,  можливі перебої та проблеми як з роботою, так і з доступом до РТР.</p>
        <p style="text-align: justify;">У разі порушення пункту 4.2. цього Договору Клієнт зобов’язаний відшкодувати всі збитки, завдані Оператору РТР.</p>
        <p style="text-align: justify;"><strong>5.6.</strong>      Оператор РТР не несе відповідальності за якість каналів зв'язку загального користування та перебої в електромережі, а також мережі передачі даних, за допомогою яких здійснюється доступ до РТР, за стан і справність, ремонт та обслуговування будь-яких програмно-технічних засобів, що не входять в зону його контролю.</p>
        <h5 style="text-align: center;"><a name="_Toc343605239"></a><strong><a name="_Toc343605004"></a><a name="_Toc342055345"></a>6.   ФОРС-МАЖОР</strong></h5>
        <p style="text-align: justify;"><strong>6.1.</strong>      Сторони звільняються від відповідальності за повне або часткове невиконання прийнятих на себе згідно з Договором зобов'язань, якщо таке невиконання стало наслідком дії форс-мажорних обставин (обставин непереборної сили), до яких відносяться надзвичайні та невідворотні обставини, що об'єктивно унеможливлюють виконання зобов'язань, передбачених умовами Договору та Договору оферти, зокрема: загроза війни, збройний конфлікт або серйозна погроза такого конфлікту, включаючи але не обмежуючись ворожими атаками, блокадами, військовим ембарго, діями іноземного ворога, загальною військовою мобілізацією, військовими діями, оголошеною та неоголошеною війною, діями суспільного ворога, збуренням, актами тероризму, диверсіями, піратством, безладами, вторгненням, блокадою, революцією, заколотом, повстанням, масовими заворушеннями, введенням комендантської години, експропріацією, примусовим вилученням, захопленням підприємства, реквізицією, громадською демонстрацією, блокадою, страйком, аварією, протиправними діями третіх осіб, пожежею, вибухом, тривалими перервами в роботі транспорту, регламентованими умовами відповідних рішень та актами державних органів влади, закриттям морських проток, ембарго, забороною (обмеженням) експорту/імпорту, рішенням органів виконавчої влади або органів місцевого самоврядування, органів прокуратури, що унеможливлюють виконання прийнятих на себе згідно з Договором зобов'язань тощо, а також викликані винятковими погодними умовами і стихійним лихом, а саме: епідемією, сильним штормом, циклоном, ураганом, торнадо, буревієм, повінню, нагромадженням снігу, ожеледдю, градом, заморозком, замерзанням моря,  землетрусом, блискавкою, пожежею, посухою, просіданням і зсувом ґрунту, іншими стихійними лихами тощо. При цьому строки або термін виконання зобов'язань за Договором відсувається пропорційно часу, протягом якого діяли форс-мажорні обставини.</p>
        <p style="text-align: justify;"><strong>6.2.</strong>      Клієнт або Оператор РТР повинні негайно (у розумно можливі строки) у будь-який допустимий спосіб повідомляти один одного про настання для будь-якого із них форс-мажорних обставини.</p>
        <p style="text-align: justify;"><strong>6.3.</strong>      Не повідомлення, або несвоєчасне повідомлення про настання обставин непереборної сили тягне за собою втрату права посилатися на такі обставини.</p>
        <p style="text-align: justify;"><strong>6.4.</strong>      На території України дія форс-мажорних обставин повинна бути підтверджена сертифікатом торгово-промислової палати України або уповноважених нею регіональних органів, на території інших держав -компетентними органами таких держав. У разі, якщо форс-мажорні обставини виникли внаслідок рішень органів виконавчої влади або органів місцевого самоврядування, органів прокуратури, то достатнім підтвердженням їх існування буде засвідчена або незасвідчена копія відповідного рішення зазначених органів.</p>
        <h5 style="text-align: center;"><strong><a name="_Toc343605240"></a><a name="_Toc343605005"></a><a name="_Toc342055346"></a>7.   ВИРІШЕННЯ СПОРІВ</strong></h5>
        <p style="text-align: justify;"><strong>7.1.      </strong>Сторони повинні докласти всіх зусиль, щоб шляхом прямих переговорів, в претензійному порядку, прийти до обопільного задоволення всіх спірних питань, що виникають між ними на підставі цього Договору та Договору оферти, діючи  на підставі чинного законодавства України. Жодне положення цього пункту не означає, що Сторона спору позбавлена права безпосередньо (не проводячи переговори або не здійснюючи претензійну роботу) звернутися до суду за захистом свого порушеного права, внаслідок не виконання або неналежного виконання іншою Стороною цього Договору та Договору оферти.</p>
        <h5 style="text-align: center;"><strong>8. СТРОК ДІЇ ДОГОВОРУ ТА ІНШІ УМОВИ</strong></h5>
        <p style="text-align: justify;"><strong>8.1.</strong>      Цей Договір набуває чинності з моменту його підписання і діє безстроково.</p>
        <p style="text-align: justify;"><strong>8.2.</strong>      Кожна із Сторін має право розірвати цей Договір у будь-який момент, у разі якщо всі обов'язки такої Сторони згідно з цим Договором виконані в повному обсязі.</p>
        <p style="text-align: justify;"><strong>8.3.</strong>      Припинення дії Договору не звільняє винну Сторону від відповідальності за його порушення.</p>
        <p style="text-align: justify;"><strong>8.4.</strong>      Цей Договір складений при повному розумінні Сторонами предмету Договору, термінології. У цьому Договорі термінологія тотожна термінології Договору оферти.</p>
        <p style="text-align: justify;"><strong>8.5.</strong>      Цей Договір є конфіденційним документом і відомості, що містяться в ньому, не підлягають розголошенню третім особам, окрім повідомлення таких відомостей органам державної влади у випадках, коли таке повідомлення вимагається законодавством.</p>
        <p style="text-align: justify;"><strong>8.6.</strong>      Всі зміни і доповнення до цього Договору складаються у письмовій формі і підписуються Сторонами. Всі додаткові угоди до цього Договору є його невід'ємною частиною.</p>
        <p style="text-align: justify;"><strong>8.7.</strong>      Сторони зобов'язуються повідомляти одна одну у разі прийняття рішення про ліквідацію, реорганізацію або банкрутство однієї зі Сторін в строк не пізніше ніж за 3 (три) календарні дні від дати прийняття такого рішення. У ті ж терміни Сторони повідомляють одна одну про зміну банківських реквізитів, поштової, юридичної адреси.</p>
        <p style="text-align: justify;"><strong>8.8.</strong>      Цей Договір складений українською мовою в двох примірниках, що мають рівну юридичну силу, по одному –  для кожної зі Сторін.</p>
        <p style="text-align: justify;"><strong>8.9.</strong>      Під час укладання цього Договору, Сторони підтверджують, що кожна зі Сторін діє в межах своїх повноважень, керуючись законодавством України. Особи, що підписали цей Договір, діють в межах наданих їм статутом та/або довіреністю повноважень, а також не є усуненими від виконання своїх обов'язків.</p>
        <p style="text-align: justify;"><strong>8.10.</strong>    Всі додаткові угоди, Акти здачі-приймання послуг, що направляються Сторонами одна одній відповідно до цього Договору, повинні бути здійснені у письмовій формі, скріплені підписом уповноваженої особи і печаткою відповідної Сторони, і вважатимуться поданими належним чином, якщо вони відправлені листом, доставлені особисто за зазначеними адресами Сторін або відправлені за допомогою факсимільного зв'язку та/або електронного поштового зв’язку  з одночасним підтвердженням листом протягом 7 (семи) календарних днів від дати відправки за допомогою факсимільного зв'язку або електронного поштового зв’язку (зазначене не поширюється на порядок виставлення Оператором РТР Клієнту претензій чи інших вимог, які можуть виставлятись лише засобами факсимільного та/або електронного поштового зв’язку та можуть містити рахунок).</p>
        <p style="text-align: justify;"><strong>8.11.    </strong>Сторони погодили,  що цей Договір та інші документи, що утворюються під час його виконання, які відправлені засобами факсимільного зв’язку та/або засобами електронного поштового зв’язку, мають повну юридичну силу до моменту обміну Сторонами оригіналами відповідних документів, породжують права та обов’язки для Сторін, можуть бути подані в судові інстанції в якості належних доказів і не можуть заперечуватись Стороною, від імені якої вони були відправлені. Сторони зобов’язані здійснити обмін оригіналами відповідних документів не пізніше 10 (десяти) днів з дати їх відправки засобами факсимільного зв’язку та/або засобами електронного поштового зв’язку.</p>
        <p style="text-align: justify;"> </p>
        <table width="680">
            <tbody>
                <tr>
                    <td>
                        <p><strong>ОПЕРАТОР РТР:</strong></p>
                        <p>ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «БФ ЦЕРТУС»</p>
                        <p>Ідентифікаційний код: 38914110</p>
                        <p>Місцезнаходження:</p>
                        <p>04053, м. Київ, пров. Киянівський, буд.№ 3-7</p>
                        <p>Телефон (044) 354-08-86</p>
                        <p>Ел. пошта: <a href="mailto:info@ptp.ua">info@ptp.ua</a></p>
                        <p>Не є платником ПДВ.</p>
                        <p>Платник Єдиного податку, 3 група,</p>
                        <p>Банківські реквізити:</p>
                        <p>п/р 26002455007432 в АТ «ОТП Банк»</p>
                        <p>МФО 300528; або</p>
                        <p>п/р 26005302154101 в ПАТ "ПТБ", м. Київ</p>
                        <p>МФО 380388</p>
                    </td>
                    <td>
                        <p><strong>Клієнт:</strong></p>
                        <p>{customerName}</p>
                        <p>Ідентифікаційний код: {customerCode}</p>
                        <p>Місцезнаходження:</p>
                        <p>{customerAddress}</p>
                        <p>Телефон: {cutomerPhone}</p>
                        <p>Ел. пошта: {cutomerMail}</p>
                        <p>{isTaxPayer}</p>
                        <p>Банківські реквізити:</p>
                        <p>п/р {customerBankBill} в {customerBankName}</p>
                        <p>МФО {customerBankMFO}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: justify;"> </p>
        <p style="text-align: justify;">_______________                                                                                                                           _______________</p>
        <p style="text-align: justify;">     Оператор РТР                                                                                                                                         Клієнт</p>
    </body>
</html>

